* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color:#000000;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;

}

#navbar {
    line-height:3.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 48px;
    background-color: #070F17;
    transition: background-color 0.3s ease;

}
nav ul li {
    display: inline-block;
    list-style: none;  
    margin: 0 30px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #74b0ff;
    font-size: 24px;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f71cf7;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.left{
    font-size:36px;
    color:#ffffff;
    margin-left:200px;
}
hr{
    border: 1px solid #393F45;;
    width: 100%;
}
#content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 140px;

}
.text{
    width:50vw;
    color: #4ee1fb;
    text-align: center;
    font-size: 40px;

}
.text:hover{
    color: #3aacc0;
    cursor: pointer;

}

.image1{
    width: 45vw;
    border-radius: 40px;
    transition: transform 0.5s ease-in-out;
   
}
.image1::before{
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about{
    width:90vw;
    margin: 0 auto;
}
#about{
    background-color: #070F17;
   padding:200px 0;
    display: flex;
    width: 100vw;
    font-size: 32px;
    font-weight: 100;
    text-align: center;

}
    
#products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
    gap:30px;
    text-align: center;
}

.image2,.image3,.image4,.image5,.image6,.image7{
    width: 100%;
    height: 180px;

}
.products_title{
    font-size: 64px;
    text-align: center;
    padding: 20px;
}
.product_content{
    font-size: 48px;
    text-align: center;
    padding: 20px;
}
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  

.image1:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.left-footer {
    font-size: 25px;
    margin-top: 20px;
    flex-basis: 40%;
    margin-left: 200px;
}

.left-footer p {
    margin-top: 25px;
}



#contact {
    background-color: #000000;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-evenly;
}
.left-footer{
    margin-top: 100px;
}
.left-footer, .right-footer {
    flex: 1;
}

.right-footer {
    margin-left: 300px;
    display: flex;
    text-align: center;
}

.contact-container {
    max-width: 500px;
}

.contact-form {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    background-color: #3a3a3a;
    color: rgb(255, 255, 255);
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3b883f;
}
